<!DOCTYPE html>
<html>
<head>
    <title>9/11 Topic Analysis</title>
    <meta charset="utf-8">
    <link href='../src/new_style.css' rel='stylesheet' type='text/css'>
    <script src="../src/d3.min.js"></script>
</head>
<body>
    <div class='header'></div>
    <div class="viz-container">
        <div class="legend">
            <svg class="legend-general"></svg>
            <svg class="legend-topics"></svg>
        </div>
        <div class="volume">
            <svg class="volume-svg" overflow='visible'></svg>
            <svg class="article-helper" overflow='visible'></svg>
        </div>
        <div class="information-container">
            <div class="active-topics-display">
                <svg class="active-topics-svg"></svg>
            </div>
            <div class="article-info">
                <p class="pub_date headline web_url"></p>
                <p class="lead_paragraph"></p>
            </div>
        </div>
        <div class="empire">
            <svg class="empire-svg" overflow='visible'></svg>
        </div>
        <div class="alpha">
            <svg class="alpha-svg", overflow='visible'></svg>
        </div>
    </div>
    <div id='footer'></div>

    <script defer>
        var margin = {top:20, left:50, right:20, bottom:30}
        var vWidth = 1000 - margin.left - margin.right,
            vHeight = 400 - margin.top - margin.bottom;
        var topicBoxHeight = 20;
        var buttonWidth = 230;
        var buttonHeight = 25;
        var parseMonth = d3.time.format("%Y-%m").parse,
            stringMonth = d3.time.format("%Y-%m"),
            parseDay = d3.time.format("%Y-%m-%d").parse,
            formatPercent = d3.format(".0%");
        var x = d3.time.scale()
                       .range([0, vWidth]);
        var yE = d3.scale.linear()
                        .range([vHeight, 0])
                        .domain([0, 1]);
        var yV = d3.scale.linear()
                         .range([vHeight, 0]);
        var color = d3.scale.ordinal()
                      .range(["#34533C","#DD44E2","#E34E2C","#61E545","#6997DA",
                      "#883064","#5EE3BA","#DECB2F","#D1A671","#602918",
                      "#E2B7D0","#4E8833","#D07ACD","#485D79","#D5415C",
                      "#646DD9","#E19435","#A5D565","#683D8B","#539C76",
                      "#C0D4D0","#938784","#DB3A87","#60DD84","#ADDC9C",
                      "#976E26","#DE8878","#A66D89","#3B2B51","#4C8485",
                      "#7B6347","#6DD7D5","#B6E43C","#312D2B","#581F35",
                      "#7BB4D4","#A33692","#D7D1A7","#57B334","#3F4A14"
                      ,"#859150","#B190CB","#AA4028","#CFC65D","#9D514F"
                      ,"#DC73A4","#E248BD","#4D599A","#B358D9","#AF7AE5"]);
        var xAxis = d3.svg.axis()
                          .scale(x)
                          .orient("bottom");
        var yAxisE = d3.svg.axis()
                          .scale(yE)
                          .orient("left")
                          .tickFormat(formatPercent);
        var yAxisV = d3.svg.axis()
                                .scale(yV)
                                .orient("left");
        var areaE = d3.svg.area()
                          .interpolate("monotone")
                          .x(function(d) { return x(d.date); })
                          .y0(function(d) { return yE(d.y0); })
                          .y1(function(d) { return yE(d.y0 + d.y); });
        var areaV = d3.svg.area()
                          .interpolate("monotone")
                          .x(function(d) { return x(d.date); })
                          .y0(function(d) { return yV(d.y0); })
                          .y1(function(d) { return yV(d.y0 + d.y); });
        // var areaVSolo = d3.svg.area()
        //                       .interpolate("monotone")
        //                       .x(function(d) { return x(d.date); })
        //                       .y0(function(d) { return yV(0); })
        //                       .y1(function(d) { return yV(d.y); });
        var vStack = d3.layout.stack()
                            .offset("stacked")
                            .values(function(d) { return d.values; });
        var eStack = d3.layout.stack()
                            .offset("expand")
                            .values(function(d) { return d.values; });
        var vSvg = d3.select(".volume-svg")
                           .attr("width", vWidth)
                           .attr("height", vHeight)
                           .attr("transform", "translate("+margin.left+","+margin.top+")");
        var eSvg = d3.select(".empire-svg")
                           .attr("width", vWidth)
                           .attr("height", vHeight)
                           .attr("transform", "translate("+margin.left+","+margin.top+")");
        var activeTopicSvg = d3.select(".active-topics-svg")
                               .attr("width", buttonWidth)
                               .attr("height", 200)
                               .attr("transform", "translate("+margin.left+","+margin.top+")");
        var articleHelperSvg = d3.select(".article-helper")
                                 .attr("width", vWidth)
                                 .attr("height", 100)
                                 .attr("transform", "translate("+margin.left+",0)");
        // var articleTip = d3.tip()
        //                    .attr("class", "articleTip")
        //                    .offset([-10, 0])
        //                    .html(function(t){
        //                        return "<p class='articleTipText'>" + jsondata[t]"</p><p class='articleTipLink'><a href=></a></p>"
        //                    })

        d3.csv("../test_output7.csv", function(error, data){
        d3.json("../filtered_best_articles.json", function(jsondata){
        // Load data into variables

            // allTopics: list of topic names
            var allTopics = d3.keys(data[0]).filter(function(key) { return key !== "date"; });
            var numTopics = allTopics.length;
            color.domain(allTopics);
            // d3.select(".legend")
            //   .attr("height", (numTopics+2) * topicBoxHeight);
            d3.select(".legend-topics")
              .attr("height", (numTopics+2) * topicBoxHeight);

            // activeTopics: list of topic names for currently active topics
            var activeTopics = [];

            // add month to data
            data.forEach(function(d) {
                d.month = parseDay(d.date);
            });

            // set x domain: currently just months!
            x.domain(d3.extent(data, function(d) { return d.month; }));

        // SVG Functions
            // emptyAxes: plots the volume and empire axes without any data
            var emptyAxes = function(){
                vSvg.html('');
                eSvg.html('');
                activeTopicsSvg.html('');
                yV.domain([0, 100]);
                vSvg.append("g")
                     .attr("class", "x axis")
                     .attr("transform", "translate(0," + vHeight + ")")
                     .call(xAxis);
                vSvg.append("g")
                     .attr("class", "y axis")
                     .call(yAxisV);
                eSvg.append("g")
                     .attr("class", "x axis")
                     .attr("transform", "translate(0," + vHeight + ")")
                     .call(xAxis);
                eSvg.append("g")
                     .attr("class", "y axis")
                     .call(yAxisE);
            };
            // maxVolume: returns the maximum combined volume of activeTopics
            var maxVolume = function(vdata){
                return d3.max(vdata[vdata.length-1].values, function(d){return d.y + d.y0;});
            };
            // plotVolumes: plots active topics on volume-svg
            var plotVolumes = function(){
                vSvg.html('');
                var volumeData = activeTopics.map(function(name) {
                    return {
                      name: name,
                      values: data.map(function(d) {
                        return {date: d.month, y: parseFloat(d[name])};
                      })
                    }
                });
                vStack(volumeData);
                yV.domain([0, maxVolume(volumeData)]);
                var volumeTopic = vSvg.selectAll(".volumeTopic")
                                      .data(volumeData)
                                      .enter().append("g")
                                      .attr("class", "volumeTopic");
                volumeTopic.append("path")
                           .attr("class", "area")
                           .attr("id", function(d) { return "volume_" + d.name; })
                           .attr("d", function(d) { return areaV(d.values); })
                           .style("fill", function(d) { return color(d.name); })
                           .on("click", volumeClick);
                vSvg.append("g")
                         .attr("class", "x axis")
                         .attr("transform", "translate(0," + vHeight + ")")
                         .call(xAxis);
                vSvg.append("g")
                         .attr("class", "y axis")
                         .call(yAxisV);
            };
            // plotEmpires: plots active topics on empire-svg
            var plotEmpires = function(){
                eSvg.html('');
                var empireData = activeTopics.map(function(name) {
                    return {
                      name: name,
                      values: data.map(function(d) {
                        return {date: d.month, y: parseFloat(d[name])};
                      })
                    }
                });
                eStack(empireData);
                var empireTopic = eSvg.selectAll(".empireTopic")
                                      .data(empireData)
                                      .enter().append("g")
                                      .attr("class", "empireTopic");
                empireTopic.append("path")
                           .attr("class", "area")
                           .attr("id", function(d) { return "empire_" + d.name; })
                           .attr("d", function(d) { return areaE(d.values); })
                           .style("fill", function(d) { return color(d.name); });
                eSvg.append("g")
                         .attr("class", "x axis")
                         .attr("transform", "translate(0," + vHeight + ")")
                         .call(xAxis);
                eSvg.append("g")
                         .attr("class", "y axis")
                         .call(yAxisE);
            };
            // plotButtons: builds legend buttons
            var plotButtons = function(){
                var buttons = d3.select(".legend-general")
                                .append("g")
                                .data([3])
                                .attr("class", "general-buttons");
                buttons.append("rect")
                       .attr("class", "button")
                       .attr("width", buttonWidth)
                       .attr("height", buttonHeight)
                       .style("fill", "#000000")
                       .on("click", plotRandomTopics);
                buttons.append("rect")
                      .attr("class", "button")
                      .attr("width", buttonWidth)
                      .attr("height", buttonHeight)
                      .attr("transform", "translate(0,30)")
                      .style("fill", "#000000")
                      .on("click", clearAllTopics);
                buttons.append("text")
                       .attr("class", "button-text")
                       .attr("dx", 5)
                       .attr("dy", 15)
                       .text("SELECT RANDOM TOPICS")
                       .attr("fill", "#FFFFFF")
                       .on("click", plotRandomTopics);
                buttons.append("text")
                       .attr("class", "button-text")
                       .attr("dx", 5)
                       .attr("dy", 45)
                       .text("CLEAR ALL TOPICS")
                       .attr("fill", "#FFFFFF")
                       .on("click", clearAllTopics);

            };
            // plotLegend: builds legend topic buttons
            var plotLegend = function(){
                var legendRow = d3.select(".legend-topics")
                               .selectAll("g")
                               .data(allTopics)
                               .enter().append("g")
                               .attr("class", "topic-group")
                               .attr("transform", function(d, i){
                                   return "translate(0," + i * topicBoxHeight + ")";
                               });
                legendRow.append("rect")
                      .attr("class", "legend-box")
                      .attr("width", buttonWidth)
                      .attr("height", topicBoxHeight)
                      .style("fill", function(d){ return color(d); })
                      .on("click", clickLegend);
                legendRow.append("text")
                      .attr("class", "legend-text")
                      .attr("dx", 5)
                      .attr("dy", 15)
                      .text(function(d){ return d; })
                      .on("click", clickLegend);
            };
            // plotRandomTopics: selects n random topics and plots them
            var plotRandomTopics = function(n){
                var r = '';
                activeTopics = [];
                while (activeTopics.length < n){
                    r = allTopics[Math.floor(Math.random() * allTopics.length)];
                    if (activeTopics.indexOf(r) === -1){
                        activeTopics.push(r);
                    }
                };
                plotEmpires()
                plotVolumes()
                plotActiveTopics()
            };
            // plotArticle: plots information about an article on the page!
            var plotArticle = function(d){
                d3.select(".article-info .pub_date.headline.web_url")
                  .html(
                      d.article.pub_date + " - <a href=" + d.article.web_url +
                      " target='_blank'>" + d.article.headline.main + "</a>"
                  );
                d3.select(".article-info .lead_paragraph")
                  .text(d.article.lead_paragraph);
            };
            var plotActiveTopics = function(){
                activeTopicSvg.html('');
                var ats = d3.select(".active-topics-svg")
                            .selectAll("g")
                            .data(activeTopics)
                            .enter().append("g")
                            .attr("class", "topic-group")
                            .attr("transform", function(d, i){
                                return "translate(0," + i * topicBoxHeight + ")";
                            });
                ats.append("rect")
                   .attr("class", "legend-box")
                   .attr("width", buttonWidth)
                   .attr("height", topicBoxHeight)
                   .style("fill", function(d){ return color(d); })
                   .on("click", clickLegend);
                ats.append("text")
                      .attr("class", "legend-text")
                      .attr("dx", 5)
                      .attr("dy", 15)
                      .text(function(d){ return d; })
                      .on("click", clickLegend);

                plotArticleHelper()
            };
            var plotArticleHelper = function(){
                articleHelperSvg.html('');
                var articleData = activeTopics.map(function(name) {
                    return {
                      name: name,
                      values: jsondata[name]
                    };
                });

                // load all articles for active topics into this list
                var articles = [];
                articleData.forEach(function(t){
                    for (var key in t.values){
                        articles.push({'topic': t.name, 'article': t.values[key]});
                    };
                });
                var circles = articleHelperSvg.selectAll(".articleCircle")
                                .data(articles);
                circles.enter().append("circle")
                       .attr("class", "articleCircle")
                       .attr("r", 8)
                       .attr("cy", 50)
                       .attr("cx", function(d){ return x(parseDay(d.article.pub_date)); })
                       .style("fill", function(d){ return color(d.topic); })
                       .on("click", plotArticle);

            };
        // Click / Mouseover Functions
            // clickLegend: routes the click appropriately
            var clickLegend = function(t){
                if (activeTopics.indexOf(t) === -1){
                    clickTopicOn(t);
                } else {
                    clickTopicOff(t);
                };
            };
            // clickTopicOn: selects a topic, refreshes plots accordingly
            var clickTopicOn = function(t){
                activeTopics.push(t);
                plotVolumes()
                plotEmpires()
                plotActiveTopics()
            };
            // clickTopicOff: deselects a topic, refreshes plots accordingly
            var clickTopicOff = function(t){
                var index = activeTopics.indexOf(t);
                activeTopics.splice(index, 1);

                plotVolumes()
                plotEmpires()
                plotActiveTopics()
            };
            // clearAllTopics: deselects all topics
            var clearAllTopics = function(){
                // empty activeTopics
                activeTopics = [];
                // refresh topic buttons
                emptyAxes()
            };
            var volumeClick = function(t){
                var month = stringMonth(x.invert(d3.event.pageX - 300));
                // console.log(t.name + ' ' + month);
                // console.log(jsondata[t.name]);
                var article = null;
                var d = jsondata[t.name][month];
                if (d !== undefined){
                    plotArticle(d)
                };
            };

        // Initial Load!
            plotButtons()
            plotLegend()
            plotRandomTopics(3)
            plotActiveTopics()
            plotArticleHelper()
        });});
    </script>
</body>
</html>
