body{
    background-color: #DDDDDD;
    font-family: Times;
    overflow:scroll;
}
/*#header{
    width:100%;
    height:100px;
    background-color: #CCCCFF;
    padding-bottom:50px;
}*/
.viz-container{
    width:100%;
    padding-bottom:100px;
}
.legend{
    width:250px;
    position:fixed;
    background-color: #DDDDDD;
    overflow:scroll;
}
.volume{

}
.empire{

}
.legend-general{
    margin-top:10px;
    margin-left:10px;
    width:230px;
    height:70px;
}
.button{
    margin-left:10px;
    width:230px;
    height:25px;
}
div.button-text{
    color:#234234;
}
.legend-topics{
    margin-left:10px;
    width:230px;
    height:100%;
    overflow:scroll;
}
.legend-box{
    width:230px;
    opacity:.7;
}
.legend-box:hover{
    opacity:1;
}
.legend-text{
    text-align:center;
}
.empire-svg, .volume-svg{
    margin-left:300px;
    width:auto;
    height:400px;
    float:left;
}
/*#footer{
    width:100%;
    height:100px;
    background-color: #CCCCFF;
    position:fixed;
    bottom:0;
}*/
.area{
    opacity:.7;
}
.area:hover{
    opacity:1;
}
