body{
    background-color: #000000;
    font-family: Times;
    overflow:scroll;
}
a{
    target:"_blank";
}
/*#header{
    width:100%;
    height:100px;
    background-color: #CCCCFF;
    padding-bottom:50px;
}*/
.viz-container{
    width:100%;
    overflow:scroll;
}
.legend{
    width:250px;
    position:fixed;
    background-color: #DDDDDD;
    overflow:scroll;
}
.volume{
    height:500px;
}
.information-container{
    margin-left:300px;
    margin-top:30px;
    margin-bottom:30px;
    height:200px;
}
.active-topics-display{
    overflow:scroll;
    float:left;
    width:25%;
    height:100%;
}
.article-info{
    color:#FFFFFF;
    overflow:scroll;
    float:right;
    width:75%;
    height:100%;
}
.empire{
    height:400px;
}
.space{
    height:1000px;
}
.legend-general{
    margin-top:10px;
    margin-left:10px;
    width:230px;
    height:70px;
}
.button{
    margin-left:10px;
    width:230px;
    height:25px;
}
div.button-text{
    color:#234234;
}
.legend-topics{
    margin-left:10px;
    width:230px;
    height:100%;
}
.legend-box{
    width:230px;
    opacity:.7;
}
.legend-box:hover{
    opacity:1;
}
.legend-text{
    text-align:center;
}
.empire-svg, .volume-svg, .alpha-svg{
    margin-left:300px;
    width:auto;
    height:400px;
    float:left;
}
.article-helper{
    margin-left:300px;
    width:auto;
    height:100px;
    float:left;
}
.x.axis, .y.axis{
    fill:#CCCCCC;
}
/*#footer{
    width:100%;
    height:100px;
    background-color: #CCCCFF;
    position:fixed;
    bottom:0;
}*/
.area{
    opacity:.7;
}
.area:hover{
    opacity:1;
}
