body{
    background-color: #FFFFFF;
    font-family: Times;
}
/*#header{
    width:100%;
    height:100px;
    background-color: #CCCCFF;
    padding-bottom:50px;
}*/
#viz-container{
    width:100%;
    padding-bottom:100px;
}
#topic-legend{
    width:200px;
    position:fixed;
    height:100%;
    background-color: #DDDDDD;
}
#topic-legend tr, #topic-legend td{
    margin:0;
    padding:0;
}
.legend-table{
    width:180px;
    height:100%;
    margin:10px;
    display:inline-block;
    overflow:auto;
}
#empire-chart, #volume-chart, #topic-chart{
    margin-left:250px;
    width:auto;
    height:400px;
    float:left;
}
/*#footer{
    width:100%;
    height:100px;
    background-color: #CCCCFF;
    position:fixed;
    bottom:0;
}*/
.area{
    opacity:.7;
}
